In [1]:
import pandas as pd

In [2]:
# 2 main datatyoes
series = pd.Series(["Honda", "Toyota", "Subaru"])

In [3]:
series

0     Honda
1    Toyota
2    Subaru
dtype: object

# Series = 1-dimension

In [4]:
colours = pd.Series(["Red","Blue","Black"])
colours

0      Red
1     Blue
2    Black
dtype: object

In [5]:
#DataFrame = 2-Dimensional
car_data = pd.DataFrame({"Car make": series, "Colour": colours})
car_data

  Car make Colour
0    Honda    Red
1   Toyota   Blue
2   Subaru  Black

In [6]:
#Import Data
car_sales = pd.read_csv("car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [7]:
#Exporting  a DataFrame
car_sales.to_csv("exported-car-sales.csv")

In [8]:
# Atribute
car_sales.dtypes

# Function
#car_sales.to_csv()

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [9]:
car_columns = car_sales.columns
car_columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [10]:
car_sales.index

RangeIndex(start=0, stop=10, step=1)